{% extends 'core/wrapper.html' %}

{% block content %}
    <div>
        <button class="btn btn-primary custom-btn" onclick="window.location.href='/core/goalkeeper'">Отдать пас</button>
    </div>
    <div>
        <button class="btn btn-primary custom-btn" onclick="window.location.href='/core/trainer'">Ударить по воротам</button>
    </div>
    <div>
        <button class="btn btn-primary custom-btn" onclick="window.location.href='/core/field_player'">Совершить нарушение</button>
    </div>
    <div>
        <button class="btn btn-primary custom-btn" onclick="window.location.href='/core/field_player'">Отобрать шайбу</button>
    </div>
{% endblock %}
