{% extends 'core/wrapper.html' %}

{% block content %}
    <div>
        <button class="btn btn-primary custom-btn" onclick="window.location.href='/core/goalkeeper'">Играть за вратаря</button>
    </div>
    <div>
        <button class="btn btn-primary custom-btn" onclick="window.location.href='/core/trainer'">Играть за тренера</button>
    </div>
    <div>
        <button class="btn btn-primary custom-btn" onclick="window.location.href='/core/field_player'">Играть за полевого</button>
    </div>
{% endblock %}
