{% extends 'core/wrapper.html' %}

{% block content %}
    <div>
        <button class="btn btn-primary custom-btn" onclick="window.location.href='/core/goalkeeper'">Дать установку</button>
    </div>
    <div>
        <button class="btn btn-primary custom-btn" onclick="window.location.href='/core/trainer'">Совершить смену</button>
    </div>
    <div>
        <button class="btn btn-primary custom-btn" onclick="window.location.href='/core/field_player'">Взять тайм-аут</button>
    </div>
    <div>
        <button class="btn btn-primary custom-btn" onclick="window.location.href='/core/field_player'">Снять вратаря</button>
    </div>
    <div>
        <button class="btn btn-primary custom-btn" onclick="window.location.href='/core/field_player'">Поставить вратаря</button>
    </div>
{% endblock %}
